<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi">-->
  <!--<title></title>-->

  <!--<link href="lib/ionic/css/ionic.css" rel="stylesheet">-->
  <!--<link href="css/style.css" rel="stylesheet">-->
  <!--<link href="css/confirm.css" rel="stylesheet">-->
  <!--<link href="css/acception.css" rel="stylesheet">-->
  <!--<link rel="stylesheet" href="css/font-awesome.min.css">-->

  <!--&lt;!&ndash; IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above-->
  <!--<link href="css/ionic.app.css" rel="stylesheet">-->
  <!--&ndash;&gt;-->
  <!--&lt;!&ndash; ionic/angularjs js &ndash;&gt;-->
  <!--<script src="lib/ionic/js/ionic.bundle.js"></script>-->

  <!--&lt;!&ndash; cordova script (this will be a 404 during development) &ndash;&gt;-->
  <!--<script src="cordova.js"></script>-->

  <!--&lt;!&ndash; your app's js &ndash;&gt;-->
  <!--<link href="https://fonts.googleapis.com/css?family=Gafata" rel="stylesheet" type="text/css">-->
  <!--<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAFetutcE807_2aOwgI7hAPKwG81lknLwo&amp;sensor=true"></script>-->
  <!--<script src="js/app.js"></script>-->
  <!--<script src="js/services.js"></script>-->
<!--</head>-->
<!--<body ng-app="starter">-->
<ion-view title="">
  <ion-content class="content">
    <a class= backButton href="#/ask"><img class=chevronLeft src="img/back.png"></a>

    <div class="y" style="margin-top: -30px">
      <div class="x">
        <div class="fadeInHeart">
          <img  src="img/heart.png" style="width:20px;height:17px; margin-top:-10px;
          margin-left: 85px;">
        </div>
      </div>
    </div>
    <div class="container fadeInThank" style="margin-top: -25px">
      <p class="thanksForHelping">Thanks for helping!</p>
    </div>
    <div class="whereToMeet">
      <p>Where to meet:</p>
    </div>
    <div class="addressInputContainer">
      <form class="form container">
        <label class="item item-input labelLength" >
          <div class=" container fadeOut bubbles1">
            <div id="bubble1"></div>
            <div id="bubble2"></div>
            <div id="bubble3"></div>
          </div>
          <input type="text" class="input inputAfter1" id="addressInput">
        </label>
        <img class="geoLocationButton" src="img/geolocation.png" ng-click="getAddress()">
      </form>
    </div>

    <div class="photoBlock">
      <div class="text textMap" style="margin-top: 10px;margin-bottom: 0">
        <p>Recognize me by:</p>
      </div>
      <ng-switch on="hasPhoto" ng-controller="CameraController">
        <div class="container">
          <img ng-switch-when="true" ng-src="{{lastPhoto}}" class="photo">
        </div>
        <div class="container">
          <div ng-switch-default="" class="containerCam" style="margin-top: 0">
            <div class="buttonCam" ng-click="getPhoto()" onclick="showSend()">
              <img class="cameraIcon" src="./img/camera.png">
            </div>
          </div>
        </div>
      </ng-switch>
    </div>
    <div class="container" id="sendButton" style="display:none">
      <a  href="#/see">
        <div class="container">
          <img class="sendButton" src="img/send.png">
        </div>
      </a>
    </div>
    </div>
  </ion-content>
</ion-view>
