.bar.bar-stable{
  background-color: #E0F0EE;
  /*background-color: #FAFAFA;*/
  background-image: inherit
}
.bar.bar-stable .title{
  color: black;
  /*background-color: none;*/
  position: fixed;
  margin:0 0;
  font-family: "Gafata";
  font-weight: 600;
  border:none;
  background-size:100%,0;
  background-image: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content{
  /*padding-top: 50px;*/
  background-color:#E0F0EE;
  font-family: "Gafata";
  margin: 0 0;
  padding:0 0;
}
.containerTab{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.panda{
  width:11%;
  height:65%;
  z-index: 19;
  padding:3px 0;

}
.inputBlock{
  /*border-bottom: 1px solid #ddd;*/
  padding-bottom: 50px;
  margin-top: 170px;
}
.form{
  margin-top: 10px;
}
.input-label{
  /*margin-top: 20px;*/
  font-family: "Gafata";
  font-size: 20px;
  margin-top: -4px;
  color:black;
  padding-left: 4px;

}
.item{
  margin: 0 25px;
  border-radius: 25px;
  border:inherit;
  line-height: 1.6;
}

.item-input{
  font-size: 20px;
}
.input{
  font-family: "Gafata";
  font-size: 20px;
}

.scroll {
  height: 100%;
}
.ionic-scroll{
  overflow: hidden;
}
.text{
  font-size: 13px;
  color: #393939;
  /*text-align: center;*/
  margin-top: 120px;
  margin-left: 30px;
  max-width: 84%;
}
.text.textMap{
  margin-top: 60px;
}
#map{
  position:relative;
  width:86%;
  height:187PX;
  /*height:50%;*/
  margin: 0 auto 0 auto;
  border-radius:20px;
  box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);
  /*border:1px solid #ddd;*/

}
.containerMap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
.photoBlock{
  /*border-top: 1px solid #ddd;*/
  margin-top: -50px;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.containerCam{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: lightyellow;
  width:86%;
  border-radius: 20px;
  margin-top: 10px;

}
.buttonCam{
  font-family: "Gafata";
  width:55%;
  background: lightyellow;
  padding:0 60px;
  /*margin-top: 15px;*/
  /*border-radius: 20px;*/
  /*box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);*/
  /*border:1px solid #ddd;*/
}
.cameraIcon{
  background: lightyellow;
  width:100%;
  margin-top: 72px;
  padding-bottom: 58px;

}
.button.activated{
  border-color: lightyellow;
  background-color:#F1AE98;
}
.containerPhoto{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.photo{
  width:275.2px;
  border-radius: 20px;
}
.containerSend{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button.button-light.send {
  /*background-color: lightgray;*/
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 25px;
  font-family: "Gafata";
  /*border: 1px solid #bbb;*/
  width:20%;
  font-size: 18px;
  padding-top: 3px;
  min-height:53px;
  color:black;
  background-color:#EDCFCF;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.50);
}

.button.button-light.activated{
  border-color:transparent;
  background-color: #E7C5C5;
}
.backButton{
  color: #393939;
  margin-top: 50px;
  margin-left: 30px;
}
