.bar.bar-stable{
  background-color: #E6A563;
  /*background-color: #FFE474;*/
  /*background-color: #FAFAFA;*/
  background-image: inherit
}
.bar.bar-stable .title{
  color: black;
  /*background-color: none;*/
  position: fixed;
  margin:0 0;
  font-family: "Gafata";
  font-weight: 600;
  border:none;
  background-size:100%,0;
  background-image: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content{
  /*padding-top: 50px;*/
  background-color:#D9DA51;
  /*background-color:#E6A563;*/
  /*background-color: #FFF300;*/
  font-family: "Gafata";
  margin: 0 0;
  padding:0 0;
}
.containerTab{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.panda{
  width:11%;
  height:65%;
  z-index: 19;
  padding:3px 0;

}
.inputBlock{
  /*border-bottom: 1px solid #ddd;*/
  padding-bottom: 50px;
  margin-top: 170px;
}
.form{
  margin-top: 10px;
}
.input-label{
  /*margin-top: 20px;*/
  font-family: "Gafata";
  font-size: 20px;
  margin-top: -4px;
  color:black;
  padding-left: 4px;

}
.item{
  margin: 0 25px;
  border-radius: 25px;
  border:inherit;
  line-height: 1.6;
}

.item-input{
  font-size: 20px;
}
.input{
  font-family: "Gafata";
  font-size: 20px;
}

.scroll {
  height: 100%;
}
.ionic-scroll{
  overflow: hidden;
}
.text{
  font-size: 14px;
  color: #393939;
  /*text-align: center;*/
  margin-top: 120px;
  margin-left: 30px;
  max-width: 84%;
}
.textNeed{
  margin-left:30px;
  font-size: 14px;
  /*color:white;*/
}
.triangle{
  width:31px;
  height:26px;
  margin-left: 67%;
  margin-top: -4px;
}
.shoutImage{
  width:57px;
  height:57px;
  margin-left:67%;
  margin-top: -40px;
  background-color: #FF8156;
  border-radius: 50%;
  /*animation:shake 2.5s infinite;*/
}
.text.textMap{
  margin-top: -20px;
  z-index: 30;
  margin-bottom: 20px;
}
#map{
  position:relative;
  width:95%;
  height:300PX;
  /*height:568px;*/
  /*height:50%;*/
  margin: 0px auto 0 auto;
  /*border-radius:20px;*/
  box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);
  /*border:1px solid #ddd;*/
  /*margin-top: -120px;*/
  border-radius: 50%;
  margin-bottom: 40px;
}
#map1{
  position:relative;
  width:86%;
  height:310PX;
  /*height:568px;*/
  /*height:50%;*/
  margin: -10px auto 0 auto;
  /*border-radius:20px;*/
  /*box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);*/
  /*border:1px solid #ddd;*/
  /*margin-top: -120px;*/
  border-radius: 30px;
}
#map2{
  position:relative;
  width:86%;
  height:310PX;
  /*height:568px;*/
  /*height:50%;*/
  margin: -10px auto 0 auto;
  /*border-radius:20px;*/
  /*box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);*/
  /*border:1px solid #ddd;*/
  /*margin-top: -120px;*/
  border-radius: 30px;
}
#mapNav{
  position:relative;
  width:86%;
  height:380PX;
  /*height:568px;*/
  /*height:50%;*/
  margin: -10px auto 0 auto;
  /*border-radius:20px;*/
  /*box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);*/
  /*border:1px solid #ddd;*/
  /*margin-top: -120px;*/
  border-radius: 30px;
}

#mapFull{
  position:relative;
  width:100%;
  height:100%;
  /*height:50%;*/
  margin: 0 auto 0 auto;
  /*border-radius:20px;*/
  /*box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);*/
}
.containerMap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span, .gm-style-cc {
  display:none;
}
.gmnoprint div {
  background:none !important;
}
.photoBlock{
  /*border-top: 1px solid #ddd;*/
  /*margin-top: -65px;*/
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.containerCam{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  width:84%;
  height:262px;
  border-radius: 20px;
  /*margin-top: -70px;*/

}
.buttonCam{
  font-family: "Gafata";
  width:86%;
  background: white;
  padding:0 95px;
  /*margin-top: 15px;*/
  /*border-radius: 20px;*/
  /*box-shadow: 0px 0px 15px 0px rgba(193,193,193,0.50);*/
  /*border:1px solid #ddd;*/
}
.cameraIcon{
  /*background: white;*/
  width:100%;
  margin-top: 100px;
  /*padding-bottom: 58px;*/

}
.button.activated{
  border-color: white;
  background-color:white;
}

.photo{
  /*width:275.2px;*/
  width:84%;
  border-radius: 20px;
  /*margin-bottom: -2px ;*/
}
.containerSend{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button.button-light.send {
  /*background-color: lightgray;*/
  margin-top: 120px;
  /*margin-bottom: 30px;*/
  border-radius: 50%;
  font-family: "Gafata";
  /*border: 1px solid #bbb;*/
  width:86px;
  /*height:100%;*/
  /*font-size: 20px;*/
  /*padding-top: 15px;*/
  height: 86px;
  color:black;
  /*background-color:#FFF300;*/
  /*background-color: #FF8156;*/
  background-color: #D9DA51;
  /*background-color:#FFA100;*/
  /*box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.50);*/
}
.button.button-light.send.sendSmall{
  width:70px;
  height:70px;
}
.button.button-light.send.sendMiddle{
  width:80px;
  height:80px;
  border: 4px solid black;
}
.buttonShadow{
  width:86px;
  height:86px;
  /*background-color: #9F6326;*/
  background-color: #8A8B33;
  border-radius: 50%;
  margin-top: -72px;
}
.buttonShadow.buttonShadowSmall{
  width:70px;
  height:70px;
  margin-top: -55px;
}
.buttonShadow.buttonShadowMiddle{
  width:80px;
  height:80px;
  margin-top: -67px;
}
.button.button-light.activated{
  border-color:transparent;
  /*background-color: #FFD700;*/
}

.backButton{
  color: #393939;
  margin-top: 50px;
  margin-left: 20px;
  z-index: 4;
}

.chevronLeft{
  width:12%;
  padding:4px 4px;
  margin-top: 30px;
  /*margin-left: 30px;*/
  border-radius: 50%;
  /*background-color: lightblue;*/
  opacity: 0.8;
}
.containerStep{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: -70px;
  z-index: 90;
}
.containerStep2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -35px;
  margin-bottom: 45px;
  z-index: 90;
}
#dot1{

  margin:5px;
  width:14px;
  height:14px;
  border-radius:50%;
  background-color: #FF8156;
  box-shadow: 0px 3px 0px 0px rgba(68,0,24,0.27);
}
#dot2{

  margin:5px;
  width:14px;
  height:14px;
  border-radius:50%;
  background-color: #FEFEFE;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.29);
}
#dot3{

   margin:5px;
   width:14px;
   height:14px;
   border-radius:50%;
   background-color: #FEFEFE;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.29);
 }
#circle{
  width:260px;
  height:260px;
  border-radius: 50%;
  opacity: 0.4;
  background-color: grey;
  margin-top: -321px;
  animation-name: circle;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /*animation-delay: 3s;*/
}
@keyframes circle {
  from{transform:scale(0.7);}
  70%{transform:scale(0.7);}
  to{transform:scale(1);}
}
.textAsk
{
  font-size: 16px;
  transform-origin: 50% 50%;
  animation: shake 2.5s infinite;
  /*text-align: center;*/
  width:54%;
}
@keyframes shake {
  0%, 50%, 100% {
    /*transform: translateY(0);*/
    transform:rotate(0deg);
  }
  5%, 10%, 15%, 20%, 25%, 30%, 35%, 40% {
    /*transform: translateY(3px);*/
    transform: rotate(2deg);
  }
  45% {
    /*transform: translateY(2px);*/
    transform: rotate(1deg);
  }
  7.5%, 12.5%, 17.5%, 22.5%, 27.5%, 32.5%, 37.5%, 42.5% {
    transform: rotate(-2deg);
  }
  47.5% {
    transform: rotate(-3deg);
  }
}

.containerCo{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.button.button-light.yes{
  margin:10px 100px;
  border-radius: 35px;
  padding:10px 0;
  font-size: 20px;
  color: black;
  background-color: white;
  /*border:3px solid black;*/
}
.button.button-light.no{
  margin:10px 100px;
  border-radius: 35px;
  padding:10px 0;
  border:2px solid white;
  background-color:#D9DA51 ;
}
.brake{
  transition: 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /*transition-timing-function: ease-in-out;*/
  /*animation:brake 2s ease-in-out;*/
  animation:brake
}
@keyframes brake {
 from{left:0}
  to{left:69px;}
}
/*.x {*/
  /*animation: xAxis 2.5s  cubic-bezier(0.02, 0.01, 0.21, 1);*/
  /*animation-iteration-count: 1;*/
/*}*/
/*.y {*/
  /*content: '';*/
  /*display: block;*/
  /*!*width: 20px;*!*/
  /*!*height: 20px;*!*/
  /*!*border-radius: 20px;*!*/
  /*!*background-color: #fff;*!*/
  /*animation: yAxis 1.6s  cubic-bezier(0.3, 0.27, 0.07, 1.64);*/
  /*animation-iteration-count: 1;*/
/*}*/
/*@keyframes xAxis {*/
  /*100% {*/
    /*animation-timing-function: cubic-bezier(0.02,0.01, 0.21,1);*/
    /*transform: translateX(500px);*/
  /*}*/
/*}*/
/*@keyframes yAxis {*/
  /*100% {*/
    /*animation-timing-function: cubic-bezier(0.02,0.01,  0.21,1);*/
    /*transform: translateY(-200px);*/
  /*}*/
/*}*/
.x{
  animation:x 0.7s cubic-bezier(0.02,0.01, 0.21,1);
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}
@keyframes x {
  50%{animation-timing-function: cubic-bezier(0.02,0.01, 0.21,1);
    transform:translateX(170px);}
}
.y{
  animation:y 0.7s cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation-iteration-count: 1;
  animation-delay: 1.5s;
}
@keyframes y {
  50%{animation-timing-function: cubic-bezier(2.02,0.01,  0.21,1);
    transform:translateY(-80px);}
}
.fadeInHeart{
  opacity: 0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.3s;
  animation-delay: 2s;
}

@keyframes fadeInHeart
{ from { opacity:0; } to { opacity:1; } }

.beat{
  animation: beat .25s infinite alternate;
  transform-origin: center;
}

@keyframes beat {
  to { transform: scale(1.4); }
}
.fadeInThank{
  opacity: 0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:0.3s;
  animation-delay: 0.5s;
}

@keyframes fadeInThank
{ from { opacity:0; } to { opacity:1; } }

.coming{
  border: 2px solid white;
  padding:15px 25px;
  border-radius: 25px;
  margin-top:30px;
  font-size: 18px;
}
a{
  text-decoration: none;
  color:black
}
.geoLocationButton{
  width:30px;
  height:30px;
  z-index: 6;
  margin-left: -70px;
  margin-top:7px;
}
.addressInputContainer{
  margin-left: -40px;
}
.item.item-input.labelLength{
  /*width:262px;*/
  width:74%;
  padding-right: 30px;
}
.whereToMeet{
  margin-left: 33px;
  margin-top: 20px;
}
.thanksForHelping{
  font-size: 16px;
  margin-top: 2px;
  margin-left: 25px
}
#bubble1,#bubble2,#bubble3{
  width:10px;
  height:10px;
  background-color: lightgray;
  border-radius: 50%;
  transform-origin:50% 100%;
  animation:pop 1s 1;
  animation-iteration-count: 3;
  animation-timing-function: cubic-bezier(.63,.09,.3,1.43);
  animation-fill-mode:forwards;
  transform:scale(0);
  opacity:0;
  margin-top:0px;
}
#bubble2{
  animation-delay: 0.2s;
}
#bubble3{
  animation-delay: 0.3s;
}

@keyframes pop {
  0%   {transform:scaleX(0) scaleY(0) translateY(0);opacity:0}
  70%  {transform:scaleX(0.7) scaleY(0.7) translateY(0)}
  80%  {transform:scaleX(0.9) scaleY(0.5) translateY(0px);opacity:1}
  100% {transform:scaleX(1) scaleY(1) translateY(0);opacity:0}
}
.fadeOut{
  animation:fadeOut 2s 1;
  opacity: 1;
  animation-iteration-count: 1;
  animation-delay: 2s;
}
@keyframes fadeOut {
  from{opacity: 1}
  to{opacity:0}
}
.bubbles{
  margin-top: -19px;
  margin-bottom: 10px;
  z-index: 5;
  margin-left:60px
}
.bubbles1{
  margin-top: 10px;
  margin-left: 15px;
}
#inputNeed{
  font-size: 20px;
  /*margin-top: -2px;*/
}
#addressInput{
  font-size: 20px;
  margin-left: -38px;
}
.input.inputAfter{
  margin-left: -40px;
}
.input.inputAfter1{
  margin-left: -20px;
}
.fadeInOut{
  animation:fadeInOut 4s 1;
  animation-iteration-count: 1;
  opacity:0;
  /*animation-delay: 2s;*/
}
@keyframes fadeInOut {
  0%{opacity:0}
  5%{opacity:1}
  90%{opacity:1}
  100%{opacity:0}
}
.locationButton{
  width:79px;
  height:79px;
  margin-top: 88px;
  /*animation:buttonAppear 1s;*/
  /*animation-iteration-count: 1;*/
}
@keyframes buttonAppear {
  0% {
    visibility: hidden;
  }

  25% {
    visibility: hidden;
  }

  50% {
    visibility: hidden;
  }

  75% {
    visibility: visible;

    transform: scale(1.2);
    /*border-radius: 100%;*/
    width: 48px;
    height: 48px;
    color: transparent;
  }

  100% {
    visibility: visible;
  }
}

.takePhotoButton{
  width:68px;
  height:55px;
  /*margin-top: 40px;*/
}
.broadcasting{
  width:68px;
  height:50px;
  margin-top: 48px;
}
.sendButton{
  width:66px;
  height:44px;
  margin-top: 23px;
}
.walk{
  width:24px;
  height:40px;
  margin:15px 15px;
}
.bike{
  width:49px;
  height:30px;
  margin:22px 15px
}
.walk-white{
  width:62px;
  height:54px;
  /*margin:0 10px;*/

}
.bike-black{
  width:39px;
  height:24px;
  margin:0 10px;
}
.walk-black{
  width:19px;
  height:31px;
  margin:0 10px;
}
.bike-white{
  width:62px;
  height:54px;
}
.containerIcon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
}
.textMap.arrive{
  margin-top: 30px;
  font-size: 16px;
}
.smile{
  width:18px;
  height:16px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.fadeIn{
  animation:fadeIn 0.1s 1;
  animation-iteration-count: 1;
  opacity:0.9;
  animation-delay:3s;
}
@keyframes fadeIn {
  from{opacity:0.9}
  to{opacity:1}
}
.text.textMap.fadeInOut.hint{
  margin-bottom: -45px;
}
.pushAsk{
  width:320px;
  height:568px;
}
#destination{
  font-size: 16px;
  /*margin-left:30px;*/
  margin-top: 30px;
  /*width:86%;*/
  margin:0 20px;
}
#meetAddress{
  font-size:16px ;
}
.meetPoint{
  margin-top: 20px;
}
.askAcception{
  margin-top: -325px;
  color:white;
  font-size: 16px;
  margin-left: 33px;
}
.oops{
  margin-top: 140px;
  width:48%;
}
.bigsmile{
  width:18px;
  height:17px;
  margin-left: 86px;
  margin-top: 10px;
}
#meetPoint{
  margin-left: 0px;
  margin-bottom: -2px;
  width: 14px;
}
